.m-4 {
  margin: 1rem
}

.m-5 {
  margin: 1.25rem
}

.m-2 {
  margin: 0.5rem
}

.m-1 {
  margin: 0.25rem
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem
}

.ml-2 {
  margin-left: 0.5rem
}

.ml-1 {
  margin-left: 0.25rem
}

.mb-5 {
  margin-bottom: 1.25rem
}

.ml-4 {
  margin-left: 1rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mb-4 {
  margin-bottom: 1rem
}

.mb-3 {
  margin-bottom: 0.75rem
}

.flex {
  display: flex
}

.w-full {
  width: 100%
}

.flex-1 {
  flex: 1 1 0%
}

.flex-grow {
  flex-grow: 1
}

.flex-row {
  flex-direction: row
}

.items-start {
  align-items: flex-start
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.overflow-hidden {
  overflow: hidden
}

.rounded-2xl {
  border-radius: 1rem
}

.rounded-xl {
  border-radius: 0.75rem
}

.rounded-full {
  border-radius: 9999px
}

.rounded-tl-xl {
  border-top-left-radius: 0.75rem
}

.rounded-tr-xl {
  border-top-right-radius: 0.75rem
}

.bg-app-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(22 26 48 / var(--tw-bg-opacity))
}

.bg-app-offwhite {
  --tw-bg-opacity: 1;
  background-color: rgb(240 236 229 / var(--tw-bg-opacity))
}

.bg-app-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(49 48 77 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-red-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(252 165 165 / var(--tw-bg-opacity))
}

.bg-app-light {
  --tw-bg-opacity: 1;
  background-color: rgb(182 187 196 / var(--tw-bg-opacity))
}

.bg-red-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(153 27 27 / var(--tw-bg-opacity))
}

.p-5 {
  padding: 1.25rem
}

.p-2 {
  padding: 0.5rem
}

.p-4 {
  padding: 1rem
}

.p-10 {
  padding: 2.5rem
}

.text-center {
  text-align: center
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.font-bold {
  font-weight: 700
}

.text-app-primary {
  --tw-text-opacity: 1;
  color: rgb(49 48 77 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-red-100 {
  --tw-text-opacity: 1;
  color: rgb(254 226 226 / var(--tw-text-opacity))
}

.text-red-400 {
  --tw-text-opacity: 1;
  color: rgb(248 113 113 / var(--tw-text-opacity))
}

.text-app-offwhite {
  --tw-text-opacity: 1;
  color: rgb(240 236 229 / var(--tw-text-opacity))
}

.text-gray-200 {
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity))
}

.text-app-dark {
  --tw-text-opacity: 1;
  color: rgb(22 26 48 / var(--tw-text-opacity))
}

.text-app-light {
  --tw-text-opacity: 1;
  color: rgb(182 187 196 / var(--tw-text-opacity))
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}
